@font-face {
  font-family: 'Kors Sans Light';
  src: url('/fonts/Kors_Sans-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Kors Sans Agate';
  src: url('/fonts/Kors_Sans_Agate-Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Kors Sans';
  src: url('/fonts/Kors_Sans-Book.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Kors Sans';
  src: url('/fonts/Kors_Sans-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}
